@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
/* @import '../theme'; */

.blueWrap {
  background-color:#2E64FE;
  text-align: center;
  min-width: 360px;
}
@media only screen and (min-width: 990px) {
  .blueWrap {
    flex-direction: row;
    gap: 150px;
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.insideBlue {
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 990px) {
  .insideBlue {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 990px) {
  .logoWrapper {
    text-align: start;
  }
}

.text1 {
  font-family: 'Raleway', sans-serif;
  display: flex;
  font-size: 24px;
  color: white;
  justify-content: center;
}

.text2 {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: white;
  justify-content: center;
  opacity:90%;

}
@media only screen and (min-width: 990px) {
  .text2 {
    justify-content: start;
  }
}

.text3 {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: white;
  justify-content: center;
  opacity:80%;

}
@media only screen and (min-width: 990px) {
  .text3 {
    justify-content: start;
  }
}

.eventImg {
  text-align: center;
}

.gridContainer {
  display: grid;  
}

.blueWrapIMG {
  display:none
}
@media only screen and (min-width: 767px) {
  .blueWrapIMG {
    display:inline
  }
}
@media only screen and (min-width: 1200px) {
  .blueWrapIMG {
    width: 300px;
    height: 300px;
  }
}

.speaker {
  text-align: center;
  border: 1px solid rgb(206, 202, 202);
  padding: 10px;
  grid-column: 1;
  grid-row: 1;
  margin: 10px 5px;
}

.speaker2 {
  text-align: center;
  border: 1px solid rgb(206, 202, 202);
  padding: 10px;
  grid-column: 1;
  grid-row: 2;
  margin: 10px 5px;
}

.speaker3 {
  text-align: center;
  border: 1px solid rgb(206, 202, 202);
  padding: 10px;
  grid-column: 1;
  grid-row: 3;
  margin: 10px 5px;
}
@media only screen and (min-width: 990px) {
  .speaker3 {
    grid-column: 3;
    grid-row: 1;
  }
}

.speaker4 {
  text-align: center;
  border: 1px solid rgb(206, 202, 202);
  padding: 10px;
  grid-column: 1;
  grid-row: 4;
  margin: 10px 5px;
}
@media only screen and (min-width: 767px) {
  .speaker4 {
    grid-column: 2;
    grid-row: 1;
  }
}

.speaker5 {
  text-align: center;
  border: 1px solid rgb(206, 202, 202);
  padding: 10px;
  grid-column: 1;
  grid-row: 5;
  margin: 10px 5px;
}
@media only screen and (min-width: 767px) {
  .speaker5 {
    grid-column: 2;
    grid-row: 2;
  }
}

.speaker6 {
  text-align: center;
  border: 1px solid rgb(206, 202, 202);
  padding: 10px;
  grid-column: 1;
  grid-row: 6;
  margin: 10px 5px;
}
@media only screen and (min-width: 767px) {
  .speaker6 {
    grid-column: 2;
    grid-row: 3;
  }
}
@media only screen and (min-width: 990px) {
  .speaker6 {
    grid-column: 3;
    grid-row: 2;
  }
}

.Icon {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.rowWrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 990px) {
  .rowWrapper {
    flex-direction: row
  }
}

.eventWrapper {
  display: grid;
}

.event1 {
  display: flex;
  width: 320px;
}
@media only screen and (min-width: 770px) {
  .event1 {
    width: 450px;
  }
}
@media only screen and (min-width: 990px) {
  .event1 {
    width: 450px;
    grid-column: 1;
    grid-row: 1;
  }
}

.event2 {
  display: flex;
  width: 320px;
}
@media only screen and (min-width: 770px) {
  .event2 {
    width: 450px;
  }
}
@media only screen and (min-width: 990px) {
  .event2 {
    grid-column: 1;
    grid-row: 2;
  }
}

.event3 {
  display: flex;
  width: 320px;
}
@media only screen and (min-width: 770px) {
  .event3 {
    width: 450px;
  }
}
@media only screen and (min-width: 990px) {
  .event3 {
    grid-column: 2;
    grid-row: 1;
  }
}

.event4 {
  display: flex;
  width: 320px;
}
@media only screen and (min-width: 770px) {
  .event4 {
    width: 450px;
  }
}
@media only screen and (min-width: 990px) {
  .event4 {
    grid-column: 2;
    grid-row: 2;
  }
}

.forms {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

.rowForms {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 990px) {
  .rowForms {
    flex-direction: row;
    justify-content: center;
    gap: 230px;
  }
}

.formsData {
  display: flex;
  flex-direction: column;
  width: 320px;
}
@media only screen and (min-width: 420px) {
  .formsData {
    flex-direction: row;
  }
}

.formsAndButton {
display: flex;
flex-direction: column;
width: 330px;
gap: 0px;
}
@media only screen and (min-width: 420px) {
.formsAndButton {
  width: 405px;
  gap: 10px;
}
}
@media only screen and (min-width: 770px) {
.formsAndButton {
  width: 600px;
}
}
@media only screen and (min-width: 990px) {
.formsAndButton {
  width: 425px;
}
}

.boldTime {
  border-bottom: 1px solid grey
}

.boldEvent {
  text-transform: uppercase;
  font-size: x-small;

}

.eventText { 
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: small;
  color: rgb(102, 99, 102);
  opacity:90%;
}

.button {
  color: white;
  background-color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 40px;
  width: 140px;
  text-transform: uppercase;
}

.button2 {
  color: white;
  background-color: red;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
  height: 40px;
  width: 140px;
  text-transform: uppercase;
}

.text4 {
  font-family: 'Raleway', sans-serif;
  margin-top: 27px;
  display: flex;
  font-size: 20px;
  color: rgb(102, 99, 102);
  justify-content: center;
}

.offers {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: rgb(102, 99, 102);
  justify-content: center;
  opacity:80%;
}

.text5 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: rgb(102, 99, 102);
  opacity:90%;
  width: 320px;
}

.yellowWrap {
  background-color:#faea11;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
}

.rowTicket {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 770px) {
  .rowTicket {
    flex-direction: row;
    gap: 100px;
  }
}

.number {
  font-size: 60px;
  color: rgba(209, 65, 9, 0.712);
  margin-top: 40px;
  margin-bottom: 40px;
}

.Window {
  line-height: 10px;
}

.formsWrapper {
  background-color: rgb(48, 47, 47);
}

.contact {
  color: rgba(255, 255, 255, 0.712);
  text-align: center;
  padding-top: 20px;
}

.input {
  height: 30px;
  width: 300px;
  border-radius: 6px;
  margin-left: 20px;
}
@media only screen and (min-width: 770px) {
  .input {
    width: 500px;
  }
}
@media only screen and (min-width: 990px) {
  .input {
    width: 320px;
  }
}

.message {
  height: 60px;
  width: 300px;
  border-radius: 6px;
  margin-left: 20px;
}
@media only screen and (min-width: 770px) {
  .message {
    width: 500px;
  }
}
@media only screen and (min-width: 990px) {
  .message {
    width: 320px;
  }
}

.buttonSend {
  background-color: #c0a611;
  height: 30px;
}

.sendWrapper {
  margin-top: 20px;
  text-align: right;
}

.text6 {
  color: white;
  text-align: center;
  border-bottom: white;
}
@media only screen and (min-width: 990px) {
  .text6 {
    width: 320px;
  }
}

.underLine {
  border-bottom: 1px solid white;
  min-width: 320px;
}
@media only screen and (min-width: 990px) {
  .underLine {
    width: 320px;
  }
}

.FooterWrapper {
  background-color: #202020;
}

.rights {
  color: white;
  font-size: small;
  padding: 20px 10px 5px 50px;
  text-align: center;
}

.underRights {
  color: #c0a611;
  font-size: xx-small;
  margin-bottom: 25px;
}

.underRightsWrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
}
